@page
@model TaskRegister.IDP.Pages.Account.AccessDeniedModel
@{
}
<div class="row">
    <div class="col">
        <h1>Acceso denegado</h1>
        <p>No tienes permisos para acceder a este recurso.</p>
    </div>
</div>